.app-header {
  position: relative;
  background: linear-gradient(to right, $color-green, $color-green-dark);
  height: 90px;
  padding: 0 50px;
  overflow: hidden;
  @include flex-between(row);

  &__logo-wrapper {
    height: 50px;
  }

  &__logo {
    object-fit: cover;
    height: 100%;
  }
}

.app-nav {
  position: absolute;
  left: 400px;
  bottom: 20px;

  &__list {
    list-style: none;
    @include flex-between(row);
  }

  &__item {
    margin: 0 20px;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__url {
    position: relative;
    color: $color-white;
    font-weight: 600;
    letter-spacing: 1px;

    &.active {
      &:after {
        content: '';
        display: block;
        background-color: $color-blue;
        position: absolute;
        bottom: -20px;
        height: 6px;
        width: 100%;
      }
    }
  }
}
