.screen {
  &--finance-plan {
    @include flex-center(row);

    .button {
      margin: 5px 0;
    }

    .rangeslider-horizontal {
      height: 7px;
    }

    .rangeslider {
      margin: 0;

      &__handle {
        &:after {
          width: 17px;
          height: 17px;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  &--blog {
    @include flex-center(row);
  }
}