.button {
  display: inline-block;
  background-color: $color-white;
  padding: 8px 50px;
  border: 2px solid $color-green;
  border-radius: 7px;
  transition: all 0.2s ease;
  color: $color-green;
  font-weight: 600;

  &:hover {
    background-color: $color-green;
    color: $color-white;
  }

  &--logout {
    background-color: unset;
    padding: 8px 20px;
    border: 2px solid $color-white;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      color: $color-green;
    }
  }
}
