.feedback {
  position: absolute;
  bottom: 10px;
  right: 10px;

  &__wrapper {
    display: flex;
    align-items: flex-end;
    height: 40px;
  }

  &__thumb {
    width: 35px;
    height: 35px;
    margin: 0 5px;
    cursor: pointer;
  }

  &__text {
    margin-right: 10px;

    &--blue {
      color: $color-blue;
      text-decoration: underline;
    }
  }
}
