.panel {
  position: relative;
  width: 450px;
  height: 410px;
  margin: 0 30px;
  border: 2px solid $color-blue;
  @include flex-between(column);

  &__title-wrapper {
    background-color: $color-blue;
    min-height: 30px;
    width: 100%;
    @include flex-center(row);
  }

  &__title {
    color: $color-white;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__body {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  &__loader-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    @include flex-center(column);
  }

  &__group {
    margin: 20px 30px 0;
    text-align: left;
  }

  &__group-heading {
    display: block;
    color: $color-green-dark;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__text {
    margin: 20px 10px;
    color: $color-blue;
    line-height: 25px;

    &--bold {
      font-weight: 600;

      span {
        color: $color-green;
      }
    }
  }
}

.panel-row {
  margin-bottom: 15px;
  @include flex-between(row);

  &__field {
    width: 90px;

    &--wide {
      width: 140px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 5px;
  }

  &__input-wrapper {
    position: relative;
    border: 2px solid $color-blue;
    border-radius: 7px;
    overflow: hidden;
  }

  &__input {
    width: 85px;
    
    &--money {
      width: 120px;
      margin-left: 15px;
    }
  }

  &__money {
    position: absolute;
    top: 4px;
    left: 10px;
  }
}

.panel-slider {
  margin: 25px 20px;
  text-align: left;
  @include flex-between(row);

  &__title,
  &__wrapper {
    display: block;
  }

  &__title {
    width: 250px;
    color: $color-blue;
    font-weight: 600;
  }

  &__wrapper {
    width: 100%;
  }
}