// This file contains
// All SASS mixins

// Flex Mixins
@mixin flex-center ($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin flex-between ($direction) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: $direction;
}
// End of Flex Mixins
