// This file contains
// All SASS variables

// Fonts
$primary-font: ('Open-Sans', sans-serif);

// Colors
$color-black: rgb(0, 0, 0);           // #FFFFFF
$color-white: rgb(255, 255, 255);     // #000000
$color-green: rgb(106, 186, 0);       // #6ABA00
$color-green-dark: rgb(95, 158, 46);  // #5F9E2E
$color-pink:  rgb(211, 91, 131);      // #D35B83
$color-blue:  rgb(0, 87, 107);        // #00576B
