// This file contains
// All reset / base styles

html {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: $primary-font;
  font-size: 16px;
  color: $color-black;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

input {
  box-sizing: border-box;
  background-color: unset;
  width: 100%;
  font-size: 16px;
  padding: 3px 8px;
  border: 0;

  &:focus {
    outline: 0;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: $color-blue;
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul {
  margin: 0;
  padding: 0;
}